body{
    background-image:url("Image/background.webp") ;
}

.container{
    border:dotted green 2px;
   margin:10%;
    background-color: darkslategray;
    width: 70%;

}

.inner_container{
    padding: 20px;
    margin:5%;
    border: solid 1px red;
    background-color: cornsilk;

}